<div *ngIf="hasImage" class="img-content">
  <div class="img-spacer">
  </div>
  <img class="img-display" src="https://placekitten.com/440/248" />
</div>
<h2 class="title" [ngClass]="txtLineClipClass">
  Cillum aliquip occaecat veniam enim magna ex sunt reprehenderit culpa ipsum velit pariatur labore occaecat.
  Deserunt cupidatat deserunt occaecat consequat non aute Lorem non sint id minim mollit velit eiusmod. Veniam ea
  commodo ex ea ea. Non amet laborum consectetur occaecat eiusmod nulla nulla sunt voluptate incididunt elit ad
  est.
  Ut mollit consequat exercitation id commodo esse est exercitation ullamco. Veniam enim irure aliquip id ullamco
  occaecat dolor est minim. Mollit tempor magna cillum sunt nostrud laboris ullamco excepteur quis.
</h2>
<h3 class="title txt-clip-1">
  10km from your location
</h3>
<h4 class="title txt-clip-1">
  Clothes • Furniture • Toys
</h4>
