.img-content {
  position: relative;
  overflow: hidden;

  .img-spacer {
    padding-top: 56%;
  }

  .img-display {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
  }
}

:host>*:not(:first-child) {
  display: block;
  margin-top: var(--s-m);
}

.extra>* {
  display: inline-block;
}
