#map {
  // height: 100%;
  // width: 100%;
}

.map-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  #map {
    flex: 1 auto;
  }
}


/* Larger than desktop */
@media (max-width: 1000px) {
  .map-wrapper {
    min-height: 60vh;
    max-height: 100vh;
    //flex-flow: row wrap;
  }
}
