<div [ngClass]="{'disabled' : !btnStatus[0]}" class="carousel-btn" (click)="changePage('left')">
  <img class="icon rotate-90" src="assets/icons/arrow-down.svg">
</div>
<div class="carousel-thumbs">
  <div appTranslate [translate]="percentageTranslate" *ngFor="let imgPage of mutatedImgArray" class="carousel-page">
    <div *ngFor="let img of imgPage" class="img-content">
      <img class="img-display" [src]="img" />
    </div>
  </div>
</div>
<div [ngClass]="{'disabled' : !btnStatus[1]}" class="carousel-btn" (click)="changePage('right')">
  <img class="icon rotate-270" src="assets/icons/arrow-down.svg">
</div>
