<div class="carousel-btn">
  <img class="icon rotate-90" src="assets/icons/arrow-down.svg">
</div>
<div class="carousel-thumbs">
  <div class="img-content">
    <img class="img-display" src="https://placekitten.com/440/248" />
  </div>
  <div class="img-content">
    <img class="img-display" src="https://placekitten.com/440/248" />
  </div>
  <div class="img-content">
    <img class="img-display" src="https://placekitten.com/440/248" />
  </div>
</div>
<div class="carousel-btn">
  <img class="icon rotate-270" src="assets/icons/arrow-down.svg">
</div>
