aside {
  display: none;
}

article {
  padding-left: var(--s-m);
  padding-right: var(--s-m);

  &>* {
    display: block;
    margin-bottom: var(--s-xl);
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  aside {
    display: block;
    width: 40%;
    max-width: 30rem;
    height: 100%;
    position: fixed;
    //left: 0;
    top: 0;
  }

  article {
    margin-left: calc(var(--s-m) + 40%);
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  article {
    margin-left: 31rem;
  }
}
