aside {
  display: none;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;

  &>* {
    display: block;
    margin-bottom: 1.5rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  aside {
    display: block;
    width: 40%;
    max-width: 30rem;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }

  section {
    margin-left: calc(1rem + 40%);
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  section {
    margin-left: 31rem;
  }
}
