/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

html,
body {
  height: 100%;
}

body {
  //palette
  --white: #fff;

  --gray: #ddd;

  --blue: #4497ca;
  --blue-d: #6f8d9f;
  --blue-l: hsla(203, 53%, 70%, 1);
  --blue-xl: #f3f8fb;
  --dark: #2e3538;

  //spacing
  --s-xl: 1.5rem;
  --s-l: 1.4rem;
  --s-m: 1rem;
  --s-s: .8rem;
  --s-xs: .2rem;

  font-size: 12px;
  min-width: 20rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--dark);
  background-color: var(--blue-xl);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

.txt-xxl {
  font-size: 3em;
}

//h1
.txt-xl {
  font-size: 2em;
}

//h2
.txt-l {
  font-size: 1.5em;
}

//h3
.txt-m {
  font-size: 1.17em;
}

.txt-bold {
  font-weight: bold;
}

.txt-contrast {
  color: var(--blue);
}

.txt-contrast-d {
  color: var(--blue-d);
}

.txt-contrast-l {
  color: var(--blue-l);
}

@for $i from 1 through 5 {
  .txt-clip-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

input[type="text"],
input[type="number"] {
  @extend .txt-m,
  .border-round-m;
  padding: var(--s-s);
  border: 1px solid var(--gray);
}

a {
  text-decoration: inherit;
  color: inherit;

  &.active {
    @extend .txt-bold,
    .txt-contrast;
  }

  &:hover {
    @extend .txt-contrast-d;
  }
}

.field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--s-xl);
  margin-top: var(--s-xl);

  &>*:not(:last-child) {
    margin-bottom: var(--s-s);
  }
}

.gutter {
  margin-left: var(--s-s);
  margin-right: var(--s-s);
}

.img-display {
  @extend .border-round-s;
}

.card {
  @extend .border-round-s,
  .shadow-s;
  background-color: var(--white);
  padding: var(--s-xl);
}

.icon {
  width: 2rem;
  height: auto;
}

.badge {
  @extend .border-round-m;
  background-color: var(--blue-l);
  color: var(--white);
  padding: var(--s-xs);
}

.border-round-s {
  border-radius: .2rem;
}

.border-round-m {
  border-radius: .5rem;
}

.border-round-l {
  border-radius: 1rem;
}

.border-round {
  border-radius: 50%;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.shadow-s {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.01);
}

.shadow-m {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-l {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
