.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--s-l);
  justify-content: stretch;
  list-style: none;

  .item {
    background-color: var(--white);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    break-inside: avoid;
    cursor: pointer;

    .title {
      display: -webkit-box;
      margin-top: var(--s-m);
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: calc(1.15 * 1.5em * 2);
    }
  }
}

.img-content {
  position: relative;
  overflow: hidden;

  .img-spacer {
    padding-bottom: 56%;
  }

  .img-display {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.loader {
  margin-top: var(--s-l);
  display: flex;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
}
