.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--s-l);
  justify-content: stretch;
  list-style: none;

  &>* {
    cursor: pointer;
  }
}

.loader {
  margin-top: var(--s-l);
  display: flex;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
}
